
body {
    background-color: grey;
    touch-action: manipulation;
}


.Chip_img {
    position:absolute;
    top:75%;
    left:50%;  
    transform: translateX(-50%);
    width: 500px;
}

@media (max-width: 500px) {
    .Chip_img {
        width: 300px;
        top: 75%;
    }
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.botton, .botton:link, .botton:visited, .botton:hover, .botton:active {
    color: black;
    font: 600 2rem/1 futura;
    background-color: white;
    border: 4px solid black;
    border-radius: 16px;
    padding: 1em 1em;
}

@media (max-width: 500px) {
    .botton, .botton:link, .botton:visited, .botton:hover, .botton:active {
      padding: .5em .5em;
      font-size: 600 2rem/1;
    }
  }

.Chip_Output {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font: 600 4rem/1 futura;
    text-align: center;
    width: 300px;
}

.input {
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font: 600 2rem/1 futura;
    width: 300px;
    background-color: white;
    color: black;
    border-color: black;
    border: 4px solid;
    border-radius: 16px;
    text-align:center;
}
