
body {
    background-color: grey;
}

.Chip_img {
    position:absolute;
    top:60%;
    left:50%;  
    max-width: 100%;
    overflow-x: auto;
    @media (max-width: 600px) {
    .Chip_img {
        max-width: 100%;
        overflow-x: auto;
    }

    .Chip_img img {
        width: 30px;
    }
}
}

.botton {
    
    font: 600 2rem/1 futura;
    background-color: white;
    border: 4px solid black;
    border-radius: 16px;
    padding: 1em 1em;
}

.Chip_Output {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font: 600 4rem/1 futura;
    text-align: center;
    width: 300px;
}

.input {
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font: 600 2rem/1 futura;
    width: 280px;
    background-color: white;
    color: black;
    border-color: black;
    border: 4px solid;
    border-radius: 16px;
    text-align:center;
}
